// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#banner {
  background: image-url('76-Inspirational-picture-quotes-and-motivational-images.jpg') no-repeat;
  min-width: 100%;
  position: relative;
  height: auto;
  background-size: 100%;
}

#other-nav {
  display: flex;
  padding: 10px;
  margin-right: auto;
}

#licensing {
  padding: 10px;
  cursor: pointer;
}

#about {
  padding: 10px;
  cursor: pointer;
}

#discover {
  padding: 10px;
  cursor: pointer;
}

#logo2{
  margin-top: -1%;
}

div #auth-buttons {
  float: right;
  display: flex;
}

div #signup-button {
  background: lightblue;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
div #login-button {
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.login-container {
  position: absolute;
  margin-top: 5%;
  margin-left: 25%;
}

.login-form {
  border-bottom-color: black;
  display: block;
  justify-content: center;
}
