// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-name {
  margin-top:-25;
}

#sub {
  width: 400px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#otherprof{
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-left: 40%;
  margin-top: 25%;
}

#otherprofpic {
  max-width: 400px;
  width: 33%;
  padding: 1px;
  margin-top: 15px;

}

.header {
  position: relative;
  z-index: 1;
}

.header-list > li {
  position: relative;
}

#user-menu {
  height: 28px;
  width: 32px;
  padding-right: 15px;
  margin-bottom: -7px;
  padding-bottom: 1px;
}

.header-notifications {
    display: none;
    position: absolute;
    left: -1px;
    font-size: 14px;
    white-space: nowrap;
    background: #cc2b5e;
    border-left: 1px solid #cc2b5e;
    border-right: 1px solid #cc2b5e;
    border-bottom: 1px solid #cc2b5e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    padding: 0;
    width: 100px;
    top: 31px;
}

#upload-link {
  background: #34bf49;
  color: white;
  padding: 10px;
}

#upload-link:hover {
  background: #65e278;
}

li:hover .header-notifications {
  display: block;
}

.header-notifications > li {
  border-top: 1px solid #ccc;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 10px;
}

.header-notifications > li:hover {
  background: #cc2b5e;
}

.header-group {
  display: flex;
  justify-content: center; 
}

#frontpage{
  display: flex;
  // position: absolute;
  justify-content: center;
  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#find-me {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.index-posts {
    display: block;
    justify-content: center;
    background: white;
    border-style: solid;
}

.user-index-posts {
  display: flex;
  align-items: baseline;
}

#drop-container:hover #dropdown-content {
  display: block;
}

 input {
  // display: block;
  // display: flex;
  // justify-content: center;
  // flex-grow:
  flex-grow: 1;
  max-width: 100%;
  /* height: 40px; */
  font-size: 14px;
  padding: 8px 10px;
}

#indexitem {
     display: flex;
    flex-direction: column;
    align-items: center;
}

#infpost {

    width: 581px;
    height: 780px;
    /* justify-content: center; */
    display: flex;
    justify-content: center;

}

.anotha-one {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  width: 100%;
}

html {
  height: 100%;
  overflow: auto;
}

body {
    overflow: auto;
    min-height: 100%;
    margin: 0;
    /* background-color: aliceblue; */
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    background: linear-gradient(#cc2b5e , #753a88);
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

#login-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-pic {
  margin-right: 35px;
  display: inline;
    font-size: 14px;
    padding: 1px 6px;
    /* background: #000; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#logged-nav {
  margin-right: 80px;
  display: flex;
  align-items: center;
  right: 5%;
  z-index: 3;
}

#navbar{
    padding-left: 16%;
    padding-right: 28%;
    height: 42px;
}

#demo-button {
  background: deepskyblue;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  width:100%;
}

#demo-button:hover {
  background: skyblue;
}

#stick{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.modals{
  color: #525558
}

#modalform {
    display: flex;
    justify-content: center;
}

#banner {
  background: rgba(0, 0, 0, 0.1);
  min-width: 100%;
  position: sticky;
  height: auto;
  background-size: 100%;
  top: 0;
}

.background-img {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

#join {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

#share {
    margin-left: 35%;
    display: block;
    margin-left: 30%;
    z-index: 2;
    top: 30%;
    // left: 30%;
    position: absolute;
    border-radius: 30px;
    padding: 10px;
    // cursor: pointer;
    display: flex;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    margin-left: 0px;
}

#upload-style{
  display: flex;
  justify-content: center;
  padding: 65px;
}

#join-us{
    display: block;
    /* margin-left: 35%; */
    /* margin-top: 5%; */
    z-index: 2;
    top: 55%;
    // left: 50%;
    position: absolute;
    background: #0099e5;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#join-us:hover{
  background: #25b6ff
}

#other-nav {
  display: flex;
  padding: 10px;
  margin-right: auto;
}

#licensing {
  padding: 10px;
  cursor: pointer;
}

#about {
  padding: 10px;
  cursor: pointer;
}

#discover {
  padding: 10px;
  cursor: pointer;
}

#logo2{
  margin-top: -1%;
}

div #auth-buttons {
  float: right;
  display: flex;
}

h1 {
  margin-top: 1%;
}
h2 {
  margin-top: 20%;
}

a {
  text-decoration: none;
  color: white;
}

#post-picture {
    background: #34bf49;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    /* top: 73px; */
    font-size: 24px;
}

#post-picture:hover {
  background: #65e278;
}

#careful-pic {
  max-width: 400px;
  margin-top: -100px;
}

#bodypost {
  margin-bottom: 80px;
  margin-top: 0px;
}

#profile-feed{
  max-width: 400px;
  max-height: 400px;
}

.find-me{
  max-width: 50px;
  max-height: 50px;
}

div #signup-button {
  background: #0099e5;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

div #signup-button:hover{
  background: #25b6ff
}

div #login-button {
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.login-container {
  // position: absolute;
  // margin-top: 5%;
  // margin-left: 25%;
  // z-index: 3;
  // display: block;
}

// input {
//   border-radius: 3px;
//   width: 150px;
// }


#submit {
  background: #34bf49;

  color: white;
  cursor: pointer;
  border-radius: 3px;
  width:100%;
}

#submit:hover {
  background: #41cb56;
}

.login-form {
    display: table-caption;
    justify-content: center;
    width: 400px;
    padding: 32px 40px 24px;
    height: 450px;
    background: white;
    border: 1px solid #eeeff2;
    margin-top: 42px;
}

#search-bar {
  width: 300px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 10%;
  height: 10px;

}

 #login-box  {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
}

label {
  color: #71767a
}

#upload-form {
  background: white;
  color: black;
  display: grid;
}

#upload-container {
  display: table-caption;
  justify-content: center;
  width: 400px;
  padding: 32px 40px 24px;
  height: 450px;
  background: white;
  border: 1px solid #eeeff2;
}

.user-index-posts{
  justify-content: space-between;
}


#no {
  visibility: hidden;
}

#test {
  display: flex;
justify-content: center;
}

#user-post-info {
  display: flex;
}

#del-button {
    width: 75px;
    flex-grow: 0;
    background: red;
    color: white;
    width: 95px;
    margin-right: 20px;
}
#del-button:hover {
  cursor: pointer;
  background-color: #f03232
}

#sub-button {
    width: 75px;
    flex-grow: 0;
    background:#34bf49;
    color: white;
    width: 95px;
    margin-right: 20px;
}

#sub-button:hover {
  cursor: pointer;
  background: #65e278
}

#selfprofilefeed {
  display: flex;
  justify-content: center;
}

#link-to-profile{
  color: black;
  margin-bottom: 40px;
}

li {
  list-style-type: none;
}

#test > ul{
  background: white;

}
