// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
}

li:hover .badge {
  background: #f00;
}

.header {
  position: relative;
  z-index: 1;
}

.header-list > li {
  position: relative;
}

.header-notifications {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .header-notifications {
  display: block;
}

.header-notifications > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.header-notifications > li:hover {
  background: #eee;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.index-posts {
  display: flex;
}

.user-index-posts {
  display: flex;
  align-items: baseline;
}

#drop-container:hover #dropdown-content {
  display: block;
}

 input {
  // display: block;
  // display: flex;
  // justify-content: center;
  // flex-grow:
  flex-grow: 1;
  max-width: 100%;
  /* height: 40px; */
  font-size: 14px;
  padding: 8px 10px;
}

.anotha-one {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: aliceblue;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;

}

#login-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-pic {
  margin-right: 35px;
}

#logged-nav {
  display: flex;
  align-items: center;
}

#demo-button {
  background: deepskyblue;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  width:100%;
}

#demo-button:hover {
  background: skyblue;
}

#stick{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.modals{
  color: #525558
}

#banner {
  background: rgba(0, 0, 0, 0.1);
  min-width: 100%;
  position: sticky;
  height: auto;
  background-size: 100%;
  top: 0;
}

#join {
  text-decoration: none;
  color: white;
}

#join-us{
  display: block;
  margin-left: 35%;
  /* margin-top: 5%; */
  z-index: 2;
  top: 40%;
  left: 13%;
  position: absolute;
  background: #0099e5;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}

#other-nav {
  display: flex;
  padding: 10px;
  margin-right: auto;
}

#licensing {
  padding: 10px;
  cursor: pointer;
}

#about {
  padding: 10px;
  cursor: pointer;
}

#discover {
  padding: 10px;
  cursor: pointer;
}

#logo2{
  margin-top: -1%;
}

div #auth-buttons {
  float: right;
  display: flex;
}

h1 {
  margin-top: 20%;
}
h2 {
  margin-top: 20%;
}

a {
  text-decoration: none;
  color: white;
}

div #signup-button {
  background: #0099e5;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
div #login-button {
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.login-container {
  position: absolute;
  margin-top: 5%;
  margin-left: 25%;
  z-index: 3;
  display: block;
}

// input {
//   border-radius: 3px;
//   width: 150px;
// }


#submit {
  background: #34bf49;

  color: white;
  cursor: pointer;
  border-radius: 3px;
  width:100%;
}

#submit:hover {
  background: #41cb56;
}

.login-form {
  display: table-caption;
  justify-content: center;
  width: 400px;
  padding: 32px 40px 24px;
  height: 450px;
  background: white;
  border: 1px solid #eeeff2
}

#search-bar {
  width: 300px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 10%;
  height: 10px;

}

 #login-box  {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
}

label {
  color: #71767a
}

#upload-form {

}

#user-pic {
  height: 30px;
  border-radius: 30px;
}

#no {
  visibility: hidden;
}

#sub-button {
  width: 75px;
  flex-grow: 0;
}
